* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  background-image: linear-gradient(#373634, #272624);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  font-family: "Montserrat", serif;
  min-height: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top right, #373634, #272624);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 3.5rem;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  gap: 30px;
}

.menu a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #cac6c0;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu a:hover {
  color: white;
}

nav img {
  cursor: pointer;
  right: 30px;
  position: absolute;
  height: 30px;
}

.webtemplate {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}

@media screen and (max-width: 410px) {
  .menu a {
    font-size: 12px;
  }
}

@media screen and (max-width: 355px) {
  footer a {
    font-size: 12px;
  }
}

main {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 0 auto;
}

main div {
  color: rgb(0, 0, 0);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 40px;
  max-width: 680px;
  height: 440px;
  width: 560px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.ppbox {
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0);
}

.ppbox img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cvtextbox {
  border-radius: 15px;
  padding: 15px;
  line-height: 1.4rem;
  color: white;
  background-image: linear-gradient(to bottom right, #272624, #272624, #2b261e);
}

.linebreaker {
  background-color: #cac6c0;
  opacity: 50%;
  box-shadow: none;
  margin-left: 3px;
  height: 0.5rem;
  width: 70px;
  margin-top: 40px;
}

.cvtextbox p {
  width: 90%;
  font-weight: 500;
  word-break: break-word;
}

.cvtextbox h3 {
  margin-top: 10px;
  font-weight: 500;
}

.cvtextbox a {
  color: #cac6c0;
  text-decoration: none;
  transition: 0.3s ease;
}

.cvtextbox a:hover {
  color: white;
}

p {
  margin-top: 20px;
}

.projects {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.273);
  margin-top: -75px;
  margin-left: -22px;
  font-weight: 400;
  color: #cac6c0;
  font-size: 42px;
}

section {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  max-width: 1245px;
  gap: 30px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 12%;
}

section div {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: linear-gradient(to bottom right, #272624, #272624, #2b261e);
  width: 265px;
  height: 360px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: #cac6c0;
  z-index: 1;
}

section h2 {
  margin: 0 auto;
  margin-top: 30px;
  font-weight: 600;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.273);
  text-transform: uppercase;
}

section img {
  position: absolute;
  border-radius: 15px;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 30%;
}

.readmore {
  display: flex;
  color: #cac6c0;
  text-decoration: none;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 5px;
  background-color: #272624;
  width: 50%;
  height: 1.8rem;
  margin-bottom: 5%;
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.341);
  transition: color 0.4s ease;
}

.readmore:hover {
  cursor: pointer;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top right, #373634, #272624);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 6rem;
  margin-top: 60px;
  gap: 40px;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

footer a i {
  margin-right: 5px;
  color: #cac6c0;
  transition: color 0.4s ease;
}

footer a:hover i {
  color: white;
}

footer a:has(i:hover) label {
  color: white;
}

footer label:hover {
  cursor: pointer;
  color: white;
}

footer label {
  color: #cac6c0;
  transition: color 0.4s ease;
}

@media (max-width: 1179px) {
  section {
    max-width: 809px;
  }

  section div {
    width: 260px;
    height: 360px;
  }
}

@media (max-width: 589px) {
  section {
    max-width: 539px;
  }

  section div {
    width: 160px;
    height: 200px;
  }

  .readmore {
    font-size: 10px;
    width: 60%;
  }

  #templatebutton {
    display: none;
  }
}

.contact-page main {
  flex-wrap: nowrap;
}

.paperplane {
  margin-top: 50px;
  margin-right: 15px;
  height: 250px;
  opacity: 20%;
}

.image-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
}

@media (max-width: 699px) {
  .image-container {
    display: none;
  }

  .contact-container {
    align-items: center !important;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  box-shadow: none;
  height: 550px;
  margin-bottom: 22%;
}

.contact-container h1 {
  color: #cac6c0;
  font-weight: 400;
  margin-top: 40px;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 300px;
  margin-top: 40px;
}

input {
  width: 100%;
  height: 2.5rem;
  border: none;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.103);
  color: #cac6c0;
  font-weight: 500;
  border-radius: 15px;
  flex: 1;
}

#message {
  border: none;
  width: 100%;
  border-radius: 15px;
  height: 6rem;
  padding: 10px;
  resize: none;
  font-weight: 500;
  background-color: rgba(128, 128, 128, 0.103);
  border-radius: 15px;
}

textarea {
  color: #cac6c0;
  font-weight: 500;
  font-family: "Montserrat", serif;
}

textarea::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

input::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  padding-left: 25px;
}

input:focus::placeholder {
  color: #cac6c0;
}

input:focus {
  border: none;
  outline: none;
}

textarea:focus::placeholder {
  color: #cac6c0;
}

textarea:focus {
  border: none;
  outline: none;
}

.sendbutton {
  font-size: 14px;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #3c3b39, #33312f, #272624);
  color: #cac6c0;
  transition: color 0.4s ease, font-size 0.4s ease;
}

.sendbutton:hover {
  border: 1px solid rgba(128, 128, 128, 0.1);
  font-size: 14px;
  color: white;
}

.idcard {
  position: absolute;
  opacity: 30%;
  height: 17px;
  flex-shrink: 0;
  margin-top: 7px;
  margin-left: -260px;
}

form:has(#fullnameinput:focus) .idcard {
  display: none;
}

.envelope {
  position: absolute;
  opacity: 30%;
  height: 17px;
  flex-shrink: 0;
  margin-top: 64px;
  margin-left: -261px;
}

form:has(#emailinput:focus) .envelope {
  display: none;
}
