* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base-color: linear-gradient(71deg, #0a0a0a, #111111, #0a0a0a);
  --text-color: #cac6c0;
  --text-accent: #ffffff;
  --card-gradient: linear-gradient(71deg, #080509, #1a171c, #080509);
  --card-elements: #272624;
  --input-color: rgba(128, 128, 128, 0.103);
  --text-placeholder: rgba(255, 255, 255, 0.4);
  --base-header: linear-gradient(to top right, #373634, #272624);
  --darker-header-color: #1f1e1d;
}

.lightmode {
  --base-color: linear-gradient(71deg, #8b9db2, #8b9db2, #8b9db2);
  --text-color: #ffffff;
  --text-accent: #ffffff;
  --card-gradient: linear-gradient(71deg, #437fc7, #79abe9);
  --card-elements: #181947;
  --input-color: #79abe9;
  --text-placeholder: #ffffff;
  --base-header: linear-gradient(to bottom, #181947, #212143);
  --darker-header-color: #0d0e40;
}

html {
  display: flex;
  justify-content: center;
}

body {
  background: var(--base-color);
  min-height: 100vh;
  width: 100%;
  font-family: "Montserrat", serif;
  min-height: 0;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--base-header);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 4rem;
}

.hamburger {
  position: absolute;
  left: 20px;
  display: none !important;
}

#theme-switch {
  right: 20px;
  position: absolute;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--darker-header-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

#theme-switch svg {
  fill: var(--text-color);
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  gap: 30px;
}

.menu a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu a:hover {
  color: var(--text-accent);
}

nav img {
  cursor: pointer;
  right: 30px;
  position: absolute;
  height: 30px;
}

.hamburger-menu.show {
  display: flex;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 350px;
  background-color: var(--darker-header-color);
  gap: 40px;
  border-bottom: 1px solid var(--input-color);
}

.hamburger-menu a {
  font-weight: 500;
  margin-top: 10px;
  font-size: 32px;
  text-decoration: none;
  color: var(--text-color);
}

@media (min-width: 499px) {
  .hamburger-menu {
    display: none !important;
  }
}

@media screen and (max-width: 410px) {
  .menu a {
    font-size: 12px;
  }
}

@media screen and (max-width: 355px) {
  footer a {
    font-size: 12px;
  }
}

main {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 0 auto;
}

main div {
  color: rgb(0, 0, 0);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 40px;
  max-width: 680px;
  height: 440px;
  width: 560px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.613);
}

.ppbox {
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0);
}

.ppbox img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cvtextbox {
  border-radius: 15px;
  padding: 15px;
  line-height: 1.4rem;
  color: var(--text-color);
  background: var(--card-gradient);
}

.languageicons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1px;
  box-shadow: none;
  width: 50%;
  height: 2rem;
  gap: 10px;
  margin-top: 30px;
  opacity: 50%;
}

.linebreaker {
  background-color: var(--text-color);
  opacity: 50%;
  box-shadow: none;
  margin-left: 1px;
  height: 0.5rem;
  width: 70px;
  margin-top: 40px;
}

.cvtextbox p {
  width: 90%;
  font-weight: 600;
  word-break: break-word;
}

.cvtextbox h3 {
  margin-top: 10px;
  font-weight: 500;
}

.cvtextbox a {
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s ease;
}

.cvtextbox a:hover {
  color: var(--text-accent);
}

.projects {
  margin-top: -75px;
  margin-left: -22px;
  font-weight: 400;
  color: var(--text-color);
  font-size: 42px;
}

section {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  max-width: 1245px;
  gap: 30px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 12%;
}

section div {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 265px;
  height: 360px;
  box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.613);
  border-radius: 15px;
  color: var(--text-color);
  transition: transform 0.2s ease;
  background: var(--card-gradient);
}

section h2 {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  margin-top: 30px;
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--card-elements);
  height: 2.4rem;
}

.card1 {
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: var(--card-gradient);
  /* url("../images/loginpage.png"); */
  background-blend-mode: multiply;
}

section div:hover {
  transform: scale(1.05);
}

.readmore {
  display: flex;
  color: var(--text-color);
  text-decoration: none;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 5px;
  background-color: var(--card-elements);
  width: 50%;
  height: 1.8rem;
  margin-bottom: 5%;
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.341);
  transition: color 0.4s ease;
}

.readmore:hover {
  cursor: pointer;
  color: var(--text-accent);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--base-header);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 6rem;
  margin-top: 60px;
  gap: 40px;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

footer a i {
  margin-right: 5px;
  color: #cac6c0;
  transition: color 0.4s ease;
}

footer a:hover i {
  color: white;
}

footer a:has(i:hover) label {
  color: white;
}

footer label:hover {
  cursor: pointer;
  color: white;
}

footer label {
  color: #cac6c0;
  transition: color 0.4s ease;
}

@media (max-width: 1179px) {
  section {
    max-width: 809px;
  }

  section div {
    width: 260px;
    height: 360px;
  }
}

@media (max-width: 589px) {
  section {
    max-width: 539px;
  }

  section div {
    width: 160px;
    height: 200px;
  }

  .readmore {
    font-size: 10px;
    width: 60%;
  }

  section h2 {
    font-size: 16px;
  }
}

@media (max-width: 499px) {
  .menu {
    display: none;
  }

  .hamburger {
    display: block !important;
  }
}

.contact-page main {
  flex-wrap: nowrap;
  /* background-image: linear-gradient(to top, #191817, #191817, #2b261d); */
  background: var(--base-color);
}

.paperplane {
  margin-top: 50px;
  margin-right: 15px;
  height: 250px;
  opacity: 10%;
}

.image-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
}

@media (max-width: 699px) {
  .image-container {
    display: none;
  }

  .contact-container {
    align-items: center !important;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  box-shadow: none;
  height: 550px;
  margin-bottom: 22%;
}

.contact-container h1 {
  color: var(--text-color);
  font-weight: 400;
  margin-top: 40px;
  text-transform: uppercase;
}

.contact-container p {
  color: var(--text-color);
  line-height: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 300px;
  margin-top: 40px;
}

input {
  width: 100%;
  height: 2.5rem;
  border: none;
  padding: 10px;
  background-color: var(--input-color);
  color: var(--text-color);
  font-weight: 500;
  border-radius: 15px;
  flex: 1;
}

#message {
  border: none;
  width: 100%;
  border-radius: 15px;
  height: 6rem;
  padding: 10px;
  resize: none;
  font-weight: 500;
  background-color: var(--input-color);
  border-radius: 15px;
}

textarea {
  color: var(--text-color);
  font-weight: 500;
  font-family: "Montserrat", serif;
}

textarea::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-placeholder);
}

input::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-placeholder);
  padding-left: 25px;
}

input:focus::placeholder {
  color: var(--text-color);
}

input:focus {
  border: none;
  outline: none;
}

textarea:focus::placeholder {
  color: var(--text-color);
}

textarea:focus {
  border: none;
  outline: none;
}

.sendbutton {
  font-size: 14px;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #3c3b39, #33312f, #272624);
  color: #cac6c0;
  transition: color 0.4s ease, font-size 0.4s ease;
}

.sendbutton:hover {
  background-image: linear-gradient(to bottom right, #3c3b39, #33312f, #1a171c);
  font-size: 14px;
  color: white;
}

.idcard {
  position: absolute;
  opacity: 30%;
  height: 17px;
  flex-shrink: 0;
  margin-top: 7px;
  margin-left: -260px;
}

form:has(#fullnameinput:focus) .idcard {
  display: none;
}

.envelope {
  position: absolute;
  opacity: 30%;
  height: 17px;
  flex-shrink: 0;
  margin-top: 64px;
  margin-left: -261px;
}

form:has(#emailinput:focus) .envelope {
  display: none;
}
